[submodule "Maverick"]
	path = Maverick
	url = https://github.com/TimothyWeng/Maverick.git
[submodule "Galileo"]
	path = Galileo
	url = https://github.com/TimothyWeng/Maverick-Theme-Galileo.git
	branch = latest
